<div class="comment">
	<a class="avatar">
		<img src="<%= avatar(feedback.guest.filepicker_url) %>">
	</a>

	<div class="content">
		<a class="author"><%= feedback.guest.user_name %></a>
		<div class="metadata">
			<span class="date"><%= feedback.created_at %></span> 
		</div>
		<div class="text">
			<%= feedback.content %>
		</div>
	</div>
</div>