<div class="item">
    <img class="ui avatar image" src="<%= avatar(follow.follower.filepicker_url)  %>">
    <div class="content">
      <a class="header" href="<%= profile_path(id: follow.follower.id)  %>"><%= follow.follower.user_name %></a>
      <div class="description">has followed you since <%= follow.created_at.to_date %></div>
    </div>
  </div>