@import "semantic-ui";
@import "semantic-ui/collections/menu";
$font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';

.ui.inverted.button {
	margin: 4px;
}
.content {
  word-wrap: break-word;  
}


body
{
  background-color: #ffdfb3 ;
  color: #222831;


}
.ui.form .field > label
{
  color: #222831;
}

.ui.card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 290px;
  min-height: 0px;
  background: rgba(255, 255, 255, 0.12);
  padding: 0em;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0px 0px 0px 1px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.5s ease;
  transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
  background-color: #ffffff;
  z-index: '';
  color: #000000;
}

.verified {
    color: green;
}
.p1
{
  margin-top:5%;
}
.p2
{
   min-height: 300px;
}
.photo3{
  overflow:hidden;
  width: 100%;
  height: 150px;
}
.p3
{
  margin-left:5%;
  margin-top:5px
}

.ui.card-3 {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100% ;
  min-height: 66%;
  background: rgba(216, 247, 237, 0.12);
  padding: 0em;
  border: 10px;
  border-radius: 0.28571429rem;
  box-shadow: -3px 3px 1px 1px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.5s ease;
  z-index: '';
}

.col1
{
  margin-left:30%;
  margin-top:2%;
}
tab
{
  color: #000000;
}

tab a.item.active
{
  color: #000000;
}



*, *:before, *:after {
  box-sizing: border-box;
}


a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}

.container1 {
  margin: 0 auto;
  width: 780px;
  height: 640px;
  background: #F0F0ED;
  border-radius: 5px;
  position: relative;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    
}

.hero:before {
  content:'';
  width:100%; height:100%;
  position:absolute;
  overflow: hidden;
  top:0; left:0;
  background:red;
  background: url("profile.jpg");
  z-index:-1;
 
  transform: skewY(-2.2deg);
  transform-origin:0 0;
  
  //chrome antialias fix
  -webkit-backface-visibility: hidden; 
  
}

.cover {
  position: absolute;
  top: 210px;
  left: 70px;
  z-index: 2;
}

.social1
{
  padding-top: 13%;
  padding-left: 50%;
}

.details {  
  
   padding-top: 10%;
   padding-left: 80px;
  .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
    
    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;
      
    }
  }

  .title2 {    
    color: #C7C1BA;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
  }
  
}


.description {
  
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  
  
}

.column1{
  padding-left: 50px;
  padding-top: 50px;
  width: 220px;
  float: left;
  text-align: center;
} 

.tag{
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 16px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 80px;
  margin-left: 20px;
  width: 480px;
  float: left;
  color: #415865;
}

.avatars {
  margin-top: 23px;
  
  img {
    cursor: pointer;
  }
  
  img:hover {
    opacity: 0.6;
  }
  
  a:hover {
    text-decoration: none;
  }
}
