<div class="ui inverted menu">
  <div class="ui container">
    <a class="header item" href="/">
     <%= image_tag "logo.png" %>
     <big><b><i>SeeMe</b></i></big>
   </a >

   <div class="item">
    <div class="ui icon input">
      <i class="search icon"></i>
      <input type="text text-primary" placeholder="Search">
    </div>
  </div>

  <div class="right menu">
    <% unless current_user %>
    <a class="item ui inverted blue button" style="width: 85px; padding-left: 25px;" href="/users/sign_in" ><b>Login</b></a>
    <a class="ui inverted button green item" style="width: 85px; padding-left: 20px;" href="/users/sign_up"><b>Sign up</b></a>
    
    <% else %>
    <div class="item">

      <span>
        <div class="ui inline dropdown">
          <div class="text">
            <img class="ui avatar image" src="http://static.appstore.vn/a/uploads/thumbnails/122015/devo-icon-pack_icon.png">
            <%= current_user.user_name  %>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            
            
            
            <div class="item">
            <i class="setting icon"></i>
              Profile 
            </div>
            <div class="item">
              <i class="comments icon"></i>
              Message
            </div>
            <div class="item">
              <i class="sign out icon"></i>
              <%= link_to "", destroy_user_session_path, method: :delete %>
              Log out
            </div>
          </div>
        </div>
      </span>
    </div>

    <a><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "item ui inverted gray button" %></a>
    <% end  %>
  </div>
</div>
</div>


