<div class="ui inverted menu">
<div class="ui container">
  <div class="header item">
    <img src="http://www.iconsdb.com/icons/preview/caribbean-blue/checked-user-xxl.png">
  </div>
  <div class="header item">SeeMe</div>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent inverted icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
    <a class="item ui inverted orange button " style="width: 75px;" href="/users/sign_in" >Login</a>
    <a class="ui inverted button item" style="width: 75px;">Sign up</a>
  </div>
  </div>
</div>
er
<!-- Sidebar Menu -->
<!-- <div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div> -->

